@(matches: Seq[Match], forecastsByMatch: collection.mutable.Map[anorm.Pk[Long], Forecast])(implicit request: play.api.mvc.RequestHeader)

@import models.ForecastOutcome._

@forecastBox(zmatch: Match, forecastOpt: Option[Forecast]) = {
	<div id="forecast_@zmatch.id" class="forecast-box">
		<div class="forecast-input">
			<input type="text" value="@forecastOpt.map(_.scoreA).getOrElse("")" />
		 	-
			<input type="text" value="@forecastOpt.map(_.scoreB).getOrElse("")" />
		</div>
 		<div class="subrow">
			<span class="kickoff-time">
	  			@zmatch.kickoff.format("HH:mm")
	  		</span>
 			<a onclick="randomForecast(@zmatch.id)">
 				<img src="@routes.Assets.at("images/calculator.gif")">
 				<span>generate</span>
 			</a>
 			<a onclick="saveForecast(@zmatch.id, '@routes.Application.saveForecast()');" class="saveBtn notDisplayed">
 				<img src="@routes.Assets.at("images/diskette.gif")">
 				<span>save</span>
 			</a>
 		</div>
	</div>
}

@classForOutcome(outcome: ForecastOutcome) = @{
	outcome match {
		case CORRECT_RESULT => "correct-result"
		case CORRECT_SCORE => "correct-score"
		case _ => ""
	}
}

<!--@*  
@forecastBox_OLD(zmatch: Match, forecastOpt: Option[Forecast]) = {
	<div id="forecast_@zmatch.id" class="forecastBox">
		<input type="text" value="@forecastOpt.map(_.scoreA).getOrElse("")" style="width: 40px; text-align: center;" />
		 -
 		<input type="text" value="@forecastOpt.map(_.scoreB).getOrElse("")" style="width: 40px; text-align: center;"/>
 		
 		<div class="subrow">
			<span class="koTime">
	  			@zmatch.kickoff.format("HH:mm")
	  		</span>
 			<a onclick="randomForecast(@zmatch.id)">
 				<img src="@routes.Assets.at("images/calculator.gif")">
 				<span>generate</span>
 			</a>
 			<a onclick="saveForecast(@zmatch.id, '@routes.Application.saveForecast()');" class="saveBtn notDisplayed">
 				<img src="@routes.Assets.at("images/diskette.gif")">
 				<span>save</span>
 			</a>
 		</div>
	</div>
}

	<table class="forecast table table-striped">
  	@matches.map { zmatch =>
  		<tr>
   		@if(! zmatch.isFormula) {
 			<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamA.get))">
  			</td>
  			<td>@zmatch.teamA</td>
   		} else {
   			<td></td>
   			<td>@zmatch.teamAformula</td>
   		}

		<td class="forecast">
			@if(zmatch.played) {
				@helper.scoreDiv(zmatch)
				@forecastsByMatch.get(zmatch.id).map { forecast =>
					<div class="forecasted">
						your forecast : @forecast.scoreA - @forecast.scoreB
					</div>
				}.getOrElse {
					<div class="forecasted">
						no forecast
					</div>
				}
			} else {
				@if(controllers.Application.canForecast(zmatch.kickoff)) {
					@forecastBox_OLD(zmatch, forecastsByMatch.get(zmatch.id))
				} else {
					<span class="koTime">
  						@zmatch.kickoff.format("HH:mm")
  					</span>
					<br>
					no forecast
				}
			}
		</td>
		
 		@if(! zmatch.isFormula) {
   			<td>@zmatch.teamB</td>
   			<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamB.get))">
   			</td>
   		} else {
   			<td>@zmatch.teamBformula</td>
   			<td></td>
   		}
   		
  		</tr>
  	}
 	</table>
*@-->

	<div class="match-day">
	@matches.map { zmatch =>
		<div class="match-item">
			<div class="date-box">
	  			<div class="left">
	  				<span class="month">@zmatch.kickoff.format("MMM")</span>
	  				<span class="day">@zmatch.kickoff.format("dd")</span>
	  			</div>
	  			<div class="right">
	  				@zmatch.kickoff.format("HH'h'mm")
	  			</div>
	  		</div>
		
			<div class="flag">
				@zmatch.teamA.map { teamA =>
		    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamA))">
		  		}.getOrElse { <div class="placeholder-32-32"></div> }
			</div>
			<div class="teamA">
	  			@Messages("team." + zmatch.teamAorFormula)
			</div>

			@if(zmatch.played) {
				@helper.scoreDiv(zmatch)
			} else {
				@if(controllers.Application.canForecast(zmatch.kickoff)) {
					@forecastBox(zmatch, forecastsByMatch.get(zmatch.id))
				} else {
					<div class="kickoff-time">
  						@zmatch.kickoff.format("HH:mm")
					</div>
				}
			}
				
			<div class="teamB">
	  			@Messages("team." + zmatch.teamBorFormula)
			</div>
			<div class="flag">
				@zmatch.teamB.map { teamB =>
		    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamB))">
	    		}.getOrElse { <div class="placeholder-32-32"></div> }
			</div>
			<div class="forecast-result">
			@if(zmatch.played) {
				@forecastsByMatch.get(zmatch.id).map { forecast =>
					<div class="forecasted">
						<div class="forecasted-score">
							<code>@forecast.scoreA</code> - <code>@forecast.scoreB</code>
						</div>
						@defining(forecast.outcome(zmatch.result.get)) { outcome => 
						<div class="forecast-pts @classForOutcome(outcome)">
							@outcome match {
								case CORRECT_RESULT => {
									<strong>+ @Ranking.correctResultMap(zmatch.phase)</strong> Pts
									<small>correct result !</small>
								}
								case CORRECT_SCORE => {
									<strong>+ @(Ranking.correctResultMap(zmatch.phase) + Ranking.correctScoreMap(zmatch.phase))</strong> Pts
									<small>correct score !</small>
								}
								case ForecastOutcome.WRONG_FORECAST => {
									<strong>0</strong> Pts
									<small>wrong forecast</small>
								}
							}
						</div>
						}
					</div>
				}.getOrElse {
					<div class="no-forecast">
						no forecast
					</div>
				}
	   		}
			</div>
		</div>
	}
	</div>
