@(matches: Seq[Match], showDates: Boolean = false)

	<div class="match-day">
	@matches.map { zmatch =>
		<div class="match-item">
	  			@if(zmatch.isLive) {
	  				<div><span class="label label-important" style="font-size: 16px; font-style: italic;">Live !</span></div>
  					<br>
	  			}
	  		<div class="date-box">
	  			<div class="left">
	  				<span class="month">@zmatch.kickoff.format("MMM")</span>
	  				<span class="day">@zmatch.kickoff.format("dd")</span>
	  			</div>
	  			<div class="right">
	  				@zmatch.kickoff.format("HH'h'mm")
	  			</div>
	  		</div>
			<div class="flag">
				@zmatch.teamA.map { teamA =>
		    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamA))">
		  		}.getOrElse { <div class="placeholder-32-32"></div> }
			</div>
			<div class="teamA">
	  			@Messages("team." + zmatch.teamAorFormula)
			</div>

			@if(zmatch.played) {
				@*<!--  
				@if(showDates) {
					<div class="match-result">
						<span class="koTime">
							@zmatch.kickoff.format("dd MMMMM") @@ @zmatch.kickoff.format("HH:mm")
						</span>
						<br>
						@helper.scoreDiv(zmatch)
		  			</div>
	  			} else {
	  				@helper.scoreDiv(zmatch)
	  			}
	  			-->*@
	  			@helper.scoreDiv(zmatch)
			} else {
				<div class="kickoff-time">
				@*
					@if(showDates) {
						@zmatch.kickoff.format("dd MMMMM")
						<br>
					}
					@zmatch.kickoff.format("HH:mm")
				*@
					VS
				</div>
			}
				
			<div class="teamB">
	  			@Messages("team." + zmatch.teamBorFormula)
			</div>
			<div class="flag">
				@zmatch.teamB.map { teamB =>
		    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamB))">
	    		}.getOrElse { <div class="placeholder-32-32"></div> }
			</div>
		</div>
	}
	</div>

	<!--@* OLD implementation with table
	<table class="match table table-striped">
  	@matches.map { zmatch =>
  		<tr>
   		@if(zmatch.teamA.isDefined) {
			<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamA.get))">
  			</td>
  			<td>@zmatch.teamA</td>
   		} else {
   			<td></td>
   			<td>@zmatch.teamAformula</td>
   		}

		@if(showDates) {
			<td class="dateOrScore">
				@if(zmatch.played) {
					<span class="koTime">
						@zmatch.kickoff.format("EEEEE', the' dd 'of' MMMMM yyyy") @zmatch.kickoff.format("HH:mm")
	  				</span>
					@helper.scoreDiv(zmatch)
				} else {
					<span class="koTime">
						@zmatch.kickoff.format("EEEEE', the' dd 'of' MMMMM yyyy")
						<br>
	  					@zmatch.kickoff.format("HH:mm")
	  				</span>
	  			}
  			</td>
		} else {
			<td class="timeOrScore">
				@if(zmatch.played) {
					@helper.scoreDiv(zmatch)
				} else {
					<span class="koTime">
	  					@zmatch.kickoff.format("HH:mm")
	  				</span>
  				}
  			</td>
		}
		
 		@if(zmatch.teamB.isDefined) {
   			<td>@zmatch.teamB</td>
   			<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamB.get))">
   			</td>
   		} else {
   			<td>@zmatch.teamBformula</td>
   			<td></td>
   		}
  		</tr>
  	}
 	</table>
	*@-->