@(matches: Seq[Match], showDates: Boolean = false)

	<table class="match zebra-striped">
  	@matches.map { zmatch =>
  		<tr>
   		@if(! zmatch.isFormula) {
  				<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamA.get))">
  				</td>
  				<td>@zmatch.teamA</td>
   		} else {
   			<td></td>
   			<td>@zmatch.teamAformula</td>
   		}

		@if(showDates) {
			<td class="dateOrScore">
				@if(zmatch.played) {
					<span class="koTime">
						@zmatch.kickoff.format("EEEEE', the' dd 'of' MMMMM yyyy") @zmatch.kickoff.format("HH:mm")
	  				</span>
	  				<br>
					<span class="score">
						@zmatch.result.get.scoreA - @zmatch.result.get.scoreB
					</span>
				} else {
					<span class="koTime">
						@zmatch.kickoff.format("EEEEE', the' dd 'of' MMMMM yyyy")
						<br>
	  					@zmatch.kickoff.format("HH:mm")
	  				</span>
	  			}
  			</td>
		} else {
			<td class="timeOrScore">
				@if(zmatch.played) {
					@helper.scoreDiv(zmatch)
				} else {
					<span class="koTime">
	  					@zmatch.kickoff.format("HH:mm")
	  				</span>
  				}
  			</td>
		}
		
 		@if(! zmatch.isFormula) {
   			<td>@zmatch.teamB</td>
   			<td>
    			<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + zmatch.teamB.get))">
   			</td>
   		} else {
   			<td>@zmatch.teamBformula</td>
   			<td></td>
   		}
  		</tr>
  	}
 	</table>
