@(title: String, head: Html = Html.empty, navbarSecondLine: Html = Html.empty, activeNav: String = "home")(content: Html)(implicit request: play.api.mvc.RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="ozeebee">
    	
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        
        <!-- <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> -->
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-popover.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
		<script type="text/javascript">
			// variable used in external scripts to link assets
			var assetsRoot = "@routes.Assets.at("")";
		</script>
		@helper.javascriptRoutes()
		@head
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
    	<div class="logo">
    		<img src="@routes.Assets.at("images/eu2012_logo.png")" style="height: 43px;">
    	</div>
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
        		<div class="container">
					<!-- <a class="brand" href="#">Eu12</a> -->
					<div style="float: left; width: 130px;">&nbsp;<!-- some room for the logo --></div>
					<ul class="nav">
            			<li @if(activeNav=="home"){class="active"}><a href="@routes.Application.index()">Home</a></li>
	 					@helper.Sec.IsAdmin {
	 					<li @if(activeNav=="admin"){class="active"}><a href="@routes.Admin.showAdmin()">Admin</a></li>
	 					}
            			<li @if(activeNav=="about"){class="active"}><a href="@routes.Application.showAbout()">About</a></li>
            			<li class="dropdown @if(activeNav=="competition"){active}">
	              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Competition <b class="caret"></b></a>
	              			<ul class="dropdown-menu">
	              				<!-- <li><a href="@routes.Application.showTeams()">Teams</a></li> -->
	              				<li><a href="@routes.Application.showGroups()">Groups</a></li>
	              				<li><a href="@routes.Application.showSchedule()">Schedule / Results</a></li>
	              				<li><a href="@routes.Application.showStandings()">Standings</a></li>
							</ul>
            			</li>
            			<li class="dropdown @if(activeNav=="game"){active}">
	              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Game <b class="caret"></b></a>
	              			<ul class="dropdown-menu">
	              				<li><a href="@routes.Application.showForecasts()">Forecasts</a></li>
	              				<li><a href="@routes.Application.showRanking()">Ranking</a></li>
							</ul>
            			</li>
          			</ul>
          			
 					<ul class="nav pull-right">
 					@helper.Sec.IsAdmin {
 						<!-- some html content only viewable by an admin -->
					}
 					@controllers.Security.username.map { user =>
 						<!--@*
 						<li>
 							<button id="sse-toggle-btn" class="btn btn-mini" data-toggle="button" style="margin-top: 10px;" title="Listen/Mute events">
 								<i class="icon-signal"></i>
 							</button>
 						</li>
 						*@-->
						<li class="dropdown">
	              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	              				<img src="@models.User.gravatarUrl(controllers.Security.useremail.get)" style="float:left; margin-right: 3px; max-height: 20px;" />
	              				<span style="line-height: 22px;">@user </span>
	              				<b class="caret"></b>
	              			</a>
	              			<ul class="dropdown-menu">
	              				@helper.Sec.IsAdmin {
		              				<li><a href="@routes.Admin.showAdmin()">Admin</a></li>
		              				<li class="divider"></li>
	              				}
								<li><a href="@routes.Security.logout">Logout</a></li>
							</ul>
						</li>
        			}.getOrElse {
        				<li @if(activeNav=="login"){class="active"}><a href="@routes.Security.login()">Login</a></li>
        			}
        			</ul>
 				</div>
    		</div>
    		@navbarSecondLine
    	</div>
    
		<div class="container">
			<div class="content">
				@content
			</div>
			<hr>
			<footer>
				<p>&copy; OzB 2012</p>
			</footer>
		</div>
    </body>
</html>
