@(username: String, matches: Seq[Match], forecastsByMatch: collection.mutable.Map[anorm.Pk[Long], Forecast])(implicit request: play.api.mvc.RequestHeader)

@scoreBox(zmatch: Match, forecast: Option[Forecast]) = {
	<div id="forecast_@zmatch.id">
		<input type="text" value="@forecast.map(_.scoreA).getOrElse("")" style="width: 40px; text-align: center;" />
		 -
 		<input type="text" value="@forecast.map(_.scoreB).getOrElse("")" style="width: 40px; text-align: center;"/>
 		
 		<a href="javascript:updateForecast('@username', @zmatch.id, '@routes.Admin.updateForecast(username, zmatch.id.get)');" class="btn small primary" style="padding:3px;">Ok</a>
 		<a href="javascript:deleteForecast('@username', @zmatch.id, '@routes.Admin.deleteForecast(username, zmatch.id.get)');" class="btn small" style="padding:3px;">Clear</a>

 		<div style="min-width: 12px; display: inline-block;"><img class="invisible" /></div> @* empty placeholder for image *@
	</div>
}

	<h4>Forecasts for user <strong>@username</strong></h4>
	<table class="condensed-table zebra-striped userForecasts">
		<thead>
			<tr>
				<th>Id</th>
				<th>Team A</th>
				<th style="text-align: center;">Forecast</th>
				<th>Team B</th>
				<th>Kick-off time</th>
				<th>Phase</th>
			</tr>
		</thead>
		<tbody>
		@matches.map { zmatch =>
			<tr>
				<td>@zmatch.id</td>
				<td>@zmatch.teamA</td>
				<td style="text-align: center;">
					<div style="font-size:11px; color:gray;">
						@if(zmatch.played) {
							(score: @zmatch.result.get.scoreA - @zmatch.result.get.scoreB)
						}
					</div>
					@scoreBox(zmatch, forecastsByMatch.get(zmatch.id))
				</td>
				<td>@zmatch.teamB</td>
				<td>@zmatch.kickoff.format("dd/MM/yyyy HH:mm")</td>
				<td>@zmatch.phase</td>
			<tr>
		}
		</tbody>
	</table>
	
	<div class="actions">
		<button type="button" onclick="deleteUserForecasts(event, '@routes.Admin.deleteUserForecasts(username)')" data-loading-text="deleting..." class="btn small">Delete all</button>
		<button type="button" onclick="generateRandomForecasts(event, '@routes.Admin.randomForecasts(username)')" data-loading-text="generating..." class="btn small">Generate Random Forecasts</button>
	</div>
	