@()(implicit request: play.api.mvc.RequestHeader)

@currentDateTimeChooser = {
	@defining(Param.getCurrentDateTime()) { currentDateTime =>
	<div>
		<label for="currentDateChooser">Current date and time</label>
		<div class="input">
			<input id="currentDateChooser" type="text" class="span2" value="@currentDateTime.format("dd/MM/yyyy")" />
			time :
			<input id="currentTime" type="text" class="span2" value="@currentDateTime.format("HH:mm")" />
		</div>
		<input type="button" class="btn btn-small" value="Set" onclick="setCurrentDateTime();" />
	</div>
	}
}

@headContent = {
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.16.custom.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap-button.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/admin.js")" type="text/javascript"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/themes/cupertino/jquery.ui.all.css")">
	<script type="text/javascript">
		// define urls used in javascript code to call back-end
		var userForecastsUrl = "@routes.Admin.showUserForecasts(":username")";
		var jsonGetTeamsUrl = "@routes.Application.Json.getTeams()";
		var setTeamNameUrl = "@routes.Admin.setTeamName()";
	</script>
}

@layout.main("Admin", head = headContent) {
    
    <section id="admin">
    	<div class="page-header">
    	    <h1>Admin page
    	    	<small>tools for the power user ! Oh Yeah !</small>
    	    </h1>
    	</div>
	    <div class="row">
	    	<ul class="nav nav-tabs">
	    		<li class="active"><a href="#about" onclick="showTab(event);">About</a></li>
	    		<li><a href="#users" onclick="showTab(event, '@routes.Admin.showUsers()');">Users</a></li>
	    		<li><a href="#matches"  onclick="showTab(event, '@routes.Admin.showMatches()');">Matches</a></li>
	    		<li><a href="#teams" onclick="showTab(event);">Teams</a></li>
	    		<li><a href="#scenarios" onclick="showTab(event, '@routes.Admin.showScenarios()');">Scenarios</a></li>
	    	</ul>
	    	
	    	<div class="tab-content">
	    		<div id="about" class="tab-pane active">
	    			<p>
		    			The Admin page give you access to tools for administering things like Users, Teams and Matches.
		    			Select the appropriate tab.
	    			</p>
	    			
	    			@currentDateTimeChooser
	    		</div>
	    		<div id="teams" class="tab-pane">
	    			balblabla teams bla bla
	    		</div>
	    	</div>	    	
	    </div>
    </section>
}