@(matchesByPhase: Map[String, Seq[Match]], forecastsByMatch: collection.mutable.Map[anorm.Pk[Long], Forecast])(implicit request: play.api.mvc.RequestHeader)

@headContent = {
	<script src="@routes.Assets.at("javascripts/forecasts.js")" type="text/javascript"></script>
}

@layout.main("Forecasts", head = headContent) {
    
    <header class="jumbotron subhead">
    	<a name="top"></a>
    	<h1>Forecasts
    		<small>Think you're a king ? Prove it !</small>
    		
    		<span style="font-size:12px; font-weight:normal; margin-left:30px;">
    			<input type="checkbox" onclick="showModifiableForecasts(event)"> show only modifiable forecast
    		</span>
    	</h1>
	    <div class="subnav">
	    	<ul class="nav nav-pills">
			    @models.Phase.values.toSeq.map { phase => 
		    		<li><a href="#@phase">@Messages("phase." + phase)</a></li>
		    	}
	    	</ul>
	    </div>
    
    </header>
    
    <div class="row">
    @models.Phase.values.toSeq.map { phase => 
    	<a id="@phase" name="@phase" style="position: relative; top: -60px;">&nbsp;</a>
    	<h2 class="center underline color:">@Messages("phase." + phase)
    		<a href="#top" style="float:right;"><img src="@routes.Assets.at("images/topArrow.gif")"></a>
    	</h2>
	
		<!--@* group matches by date so we can display matches played day by day  *@-->
		@defining(matchesByPhase(phase.toString).groupBy(zmatch => zmatch.kickoffDay)) { matchesByDate =>
			@matchesByDate.keys.toSeq.sorted.map { date =>
				<div class="dateBlock">
					<div class="koDate">@date.format("EEEEE', the' dd 'of' MMMMM yyyy")</div>
		
					@helper.forecastsTable(matchesByDate(date), forecastsByMatch)
				</div>
			}
		}
    }
	</div>
	
	<script>
		installSubnavScrollSpy();
	</script>
}