@(group: String, standings: Seq[Standing], matches: Seq[Match])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Standings") {
    
    <div class="page-header">
    	<h1>Group @group
    		<small>Group standings and matches</small>
    	</h1>
    </div>
    
    <h2>Standings</h2>
    
    <div class="row">
    	<ul class="media-grid">
	    	<li>
	        	<a href="#" class="group">@helper.groupStandings(group, standings)</a>
	        </li>
    	</ul>
    </div>
    
    <h2>Matches</h2>
    
    @helper.matchesTable(matches, showDates = true)
}