@(group: String, standings: Seq[Standing], matches: Seq[Match])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Group " + group, activeNav = "competition") {
    
    <div class="page-header">
    	<h1>Group @group
    		<small>Group standings and matches</small>
    	</h1>
    </div>
    
    <h3 style="text-align: center; margin-bottom: 10px;">Standings</h3>
    
    <div class="row" style="width: 380px; margin-left: auto; margin-right: auto;">
    	<ul class="thumbnails">
	    	<li class="span5">
	        	<a href="#" class="thumbnail group">@helper.groupStandings(group, standings)</a>
	        </li>
    	</ul>
    </div>
    
    <h3 style="text-align: center; margin-bottom: 10px;">Matches</h3>
    
    @helper.matchesTable(matches, showDates = true)
}