@(teams: Seq[Team], groups: Set[String])(implicit request: play.api.mvc.RequestHeader)

@groupDiv(group: String) = { 
	@defining(models.Team.getTeams(teams, group)) { groupTeams => 
	<div class="group group@group">
    	<h4>Group @group</h4>
    	<ul style="list-style: none;">
	    	@groupTeams.map { team =>
    			<li>
    				<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + team.id))">
    				@team.name
    			</li>
			}	
   		</ul>
	</div>
	}
}

@layout.main("Groups", activeNav = "competition") {
    
    <div class="page-header">
    	<h1>Groups
    		<small>Displaying all the groups</small>
    	</h1>
    </div>
    
    <div class="row">
    	<ul class="thumbnails">
	    @groups.map { group =>
	    	<li class="span6">
	        	<a href="@routes.Application.showGroup(group)" class="thumbnail group">@groupDiv(group)</a>
	        </li>
	    }
    	</ul>
    </div>
    
}