@()(implicit request: play.api.mvc.RequestHeader)

@headContent = {
<style>
	a.hlink {
		font-size: 13px;
		float: right;
		font-weight: normal;
	}
	
	div.live-match-banner div.match-day {
		width: auto;
	}
	div.live-match-banner div.match-item {
		border: none !important;
		background-color: transparent !important;
	}
	div.live-match-banner div.score {
		min-width: 80px !important;
	}
	div.live-match-banner div.teamA, div.live-match-banner div.teamB {
		width: auto !important;
	}
	div.live-label {
		font-family: Verdana;
		font-size: 24px;
		font-style: italic;
		text-transform: uppercase;
		margin: 0px 10px;
	}
	
	@models.Match.getLiveMatch.map { zmatch =>
		body {
			padding-top: 110px;
		}
	}
</style>

<script>
	// the server-sent events EventSource object
	var sseSource = null;

	function sseConnectionOpen(isOpened) {
		var $sseToggleBtn = $("#sse-toggle-btn");
		var isActive = $sseToggleBtn.hasClass("active");
		console.log("sseConnectionOpen isOpened=" + isOpened + " isActive=" + isActive);
		if ((isOpened && ! isActive) || (! isOpened && isActive)) {
			$sseToggleBtn.toggleClass("active");
		}
	}
	
	function liveMatchStarted(e) {
		console.log("liveMatchStarted : " + e.data);
	}

	function liveMatchFinished(e) {
		console.log("liveMatchFinished : " + e.data);
		liveMatchNotif("<strong>Match Finished !</strong>");
		var $livebanner = $("#live-match-banner");
		// remove live label
		$(".live-label", $livebanner).text("");		
		// remove live match score colors
		$("div.leftscore", $livebanner).removeClass("live");
		$("div.rightscore", $livebanner).removeClass("live");
	}
	
	function liveMatchUpdate(e) {
		console.log("liveMatchUpdate : " + e.data);
		var jsonObj = JSON.parse(e.data);
		console.log("  jsonObj:", jsonObj);
		
		// update scores
		var $livebanner = $("#live-match-banner");
		$("div.leftscore", $livebanner).text(jsonObj.scoreA);
		$("div.rightscore", $livebanner).text(jsonObj.scoreB);
		liveMatchNotif("<strong>Score changed !</strong>");
	}
	
	function liveMatchNotif(msg) {
		var $livenotif = $("div.live-notif");
		$livenotif.html(msg);
		$livenotif.fadeIn(400, function() {
			// hide after 3 secs
			setTimeout(function() {
				$livenotif.fadeOut();
			}, 5000);
		});
	}
	
	function connectSSE() {
		console.log("testSSE()");
		
		var url = jsRoutes.controllers.Application.eventSource().url;
		console.log("  url = " + url);
		
		if (!!window.EventSource) {
			console.log("Server-Sent Events supported by browser");
			sseSource = new EventSource(url);
			sseSource.onopen = function(e) {
				// Connection was opened.
				console.log("[SSE] CONNECTION OPENED");
				sseConnectionOpen(true);
			};
			sseSource.onerror = function(e) {
				if (e.readyState == EventSource.CLOSED) {
					// Connection was closed.
					console.log("[SSE] CONNECTION CLOSED");
				}
				else {
					console.log("[SSE] ERROR !", e);
				}
				sseConnectionOpen(false);
			};
			sseSource.addEventListener('message', function(e) {
				console.log("[SSE] " + e.data);
			}, false);
			
			sseSource.addEventListener('live-match-started',  liveMatchStarted, false);
			sseSource.addEventListener('live-match-finished', liveMatchFinished, false);
			sseSource.addEventListener('live-match-update', liveMatchUpdate, false);
			console.log("sse readyState = " + sseSource.readyState);
			if (sseSource.readyState == 0 || sseSource.readyState == 1)
				sseConnectionOpen(true);
		}
		else {
			console.log("Server-Sent Events NOT SUPPORTED !");
		}
	}
	
	function disconnectSSE() {
		console.log("closing SSE...");
		sseSource.close();
		sseConnectionOpen(false);
	}
	
	//===================== Initializations =======================================
	$(function() {
		/* Disabled automatic SSE connection
		setTimeout(function() { connectSSE(); }, 1000);
		window.onbeforeunload = function() { disconnectSSE(); };
		$("#sse-toggle-btn").click(function() {
			console.log("sse readyState = " + sseSource.readyState);
			if (sseSource == null || sseSource.readyState == 2)
				connectSSE();
			else
				disconnectSSE();
		});
		*/
	});
</script>
}

@navbarSecondLineContent = {
	@models.Match.getLiveMatch.map { zmatch =>
		<div id="live-match-banner" class="live-match-banner" style="text-align: center;">
			<div class="match-day">
				<div class="match-item">
					<div class="live-label">Live &gt;</div>
					<div class="flag">
						@zmatch.teamA.map { teamA =>
				    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamA))">
				  		}
					</div>
					<div class="teamA">
			  			@Messages("team." + zmatch.teamAorFormula)
					</div>
		
					@helper.scoreDiv(zmatch)
			  			
					<div class="teamB">
			  			@Messages("team." + zmatch.teamBorFormula)
					</div>
					<div class="flag">
						@zmatch.teamB.map { teamB =>
				    		<img src="@routes.Assets.at("images/" + Messages("country.icon.32." + teamB))">
			    		}
					</div>
					<div style="width:150px; height: 20px;">
						<div style="display: none;" class="live-notif alert alert-info">
							<strong>Score changed !</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}

@layout.main("Home", head = headContent, navbarSecondLine = navbarSecondLineContent) {
    
	@defining(controllers.Application.getRankings) { rankings =>
	<div class="row">
		<div class="span8">
			<div class="alert alert-info">
	        	Ahoy ! Don't forget to check the <strong><a href="@routes.Application.showAbout()#rules">rules</a></strong> and <strong>good luck !</strong>
	      	</div>
	
			@if(controllers.Application.hasCompetitionStarted) {
				<h2>Your ranking</h2>
				
				<div style="margin-bottom: 20px;">
				@defining(rankings.find(_.user.name == controllers.Security.username.get).get) { ranking =>
					<div class="ranking" data-user="@ranking.user.name" style="min-height: 40px; display: inline-block;">
						<div class="pos" style="margin-top: 10px">
							<span class="label label-info" style="font-size: 20px;"># @(rankings.indexOf(ranking)+1)</span>
						</div>
						<div class="pts2" style="margin-top: 10px; margin-left: 15px;">
							<strong>@ranking.points</strong>
							&nbsp;Points
						</div>
						<div class="userinfo" style="margin-top: 5px;">
							<!-- <img src="@models.User.gravatarUrl(ranking.user.email)" /> -->
							<!-- <strong>@ranking.user.name</strong> -->
							<div class="secline" style="font-size: 16px;">
								<div class="total">@ranking.forecastedMatches <small>forecasts</small></div> 
			 					<div class="ok">@ranking.correctScores <small>correct scores</small></div>
								<div class="warn">@ranking.correctResults <small>correct results</small></div>
								<div class="error">@ranking.badForecasts <small>wrong forecasts</small></div>
							</div>
						</div>
					</div>
				}
				</div>
			}
			
			<!--@*  
			<div class="portlet">
				<h3>Test Server-Sent Events</h3>
				<button class="btn" onclick="connectSSE();">Open</button>
				<button class="btn" onclick="disconnectSSE();">Close</button>
			</div>
			*@-->
			
			@helper.Sec.IsAdmin {
			<div class="portlet">
				<h3>Simulated date/time</h3>
				@helper.dateSlider()
			</div>
			}
			
			<div class="portlet">
				<h2>Upcoming matches <a class="hlink" href="@routes.Application.showSchedule()">See all matches</a></h2>
				@showMatches(controllers.Application.getUpcomingMatches, "")
			</div>
			
			<div class="portlet">
				<h2>Recently played <a class="hlink" href="@routes.Application.showSchedule()">See all matches</a></h2>
				@showMatches(controllers.Application.getRecentlyPlayedMatches, "None yet")
			</div>
		</div>
		
		<div class="span4">
			@topRankings(rankings)
		</div>
	</div>
	}

}

@getTrophyImgSrc(position: Int) = @{
	position match {
		case 0 => routes.Assets.at("images/trophy.png")
		case 1 => routes.Assets.at("images/trophy-silver.png") 
		case 2 => routes.Assets.at("images/trophy-bronze.png") 
		case _ => ""
	}
}

@showMatches(matches: Seq[Match], emptyMsg: String) = {
			@if(matches.isEmpty) {
				@emptyMsg
			} else {
				<!--@* group matches by date so we can display matches played day by day  
				@defining(matches.groupBy(zmatch => zmatch.kickoffDay)) { matchesByDate =>
					@matchesByDate.keys.toSeq.sorted.map { date =>
						<div class="koDate">@date.format("EEEEE', the' dd 'of' MMMMM yyyy")</div>
			
						@helper.matchesTable(matchesByDate(date))
					}
				}
				*@-->
				@helper.matchesTable(matches)
			}
}

@topRankings(rankings: Seq[UserRanking]) = {
				<div class="ranking" style="min-height: 20px; text-align: center;">
					<table style="width: 100%;">
						<tr>
							<td><img src="@routes.Assets.at("images/podium48.png")"></td>
							<td style="vertical-align: middle;">
								<h3 style="line-height: normal;">
									Top 10 rankings <small><br>out of @rankings.size active players</small>
								</h3>
							</td>
						</tr>
					</table>
				</div>
		
		@if(controllers.Application.hasCompetitionStarted) {
			@for(i <- rankings.take(10).indices; ranking = rankings(i)) {
				<div class="ranking" data-user="@ranking.user.name">
					@if(ranking.user.name == controllers.Security.username.get) {
						<div class="you" style="position: absolute; margin-left:0; right: 50px;">
							&lt; YOU &gt;
						</div>
					}
					<div class="pos">
						<span class="label label-info">@(i+1)</span>
						@if(i >= 0 && i < 3) {
							<br><br>
							<img src="@getTrophyImgSrc(i)">
						}
					</div>
					<div class="userinfo">
						<img src="@models.User.gravatarUrl(ranking.user.email)" />
						<strong>@ranking.user.name</strong>
					</div>
					<div class="pts">
						<strong>@ranking.points</strong>
						Pts
					</div>
				</div>
			}
		} else {
				<div class="ranking" style="text-align: center; padding-top:20px;">
					<span style="font-style: italic; color: #888;">
						Competition has not yet started
					</span>
				</div>
		}
				<div class="ranking" style="min-height: 20px; text-align: center;">
					<a href="@routes.Application.showRanking()">See all rankings</a>
				</div>
}
