@(form: play.api.data.Form[models.User])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Login", activeNav = "login") {
	<div class="modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
		<div class="modal-header">
			<h3>Login</h3>
		</div>
		
		<div class="modal-body">
			@if(form.hasGlobalErrors) {
				<div class="alert alert-error">
					@form.globalError.map { error =>
						<strong>Oh no !</strong>
		            	@error.message
		            }
				</div>
			}
			
			<form id="loginForm" method="post" action="@routes.Security.authenticate()" class="form-horizontal">
				<fieldset>
					<legend>Enter your credentials</legend>
					@helper.forms.input("text", form("name"), "Username", true, true)()

					@helper.forms.input("password", form("password"), "Password")()
 				</fieldset>
			</form>
		</div>
		
		<div class="modal-footer">
			Not account yet ? <a href="@routes.Security.register()" class="btn btn-small" style="float: none;">Register</a>
			<button id="loginButton" class="btn btn-primary" onclick="$('#loginForm').submit()">Submit</button>
		</div>
	</div>
	
<script type="text/javascript">
	$(function() {
		installDefaultButton($("#loginForm"), $("#loginButton"));
	});
</script>
	
}