@(loginForm: play.api.data.Form[models.User])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Login") {
	<div class="modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
		<div class="modal-header">
			<!-- <a href="#" class="close">x</a> -->
			<h3>Login</h3>
		</div>
		
		<div class="modal-body">
<!--  
			@if(loginForm.hasErrors) {
				<h5>Form has errors</h5>
			}
	
			@loginForm.errors.map { error =>
		        <div style="color:#fff; background:#c00">
		            @error.key : @error.message
		        </div>
		    }
-->
			@if(loginForm.hasGlobalErrors) {
				<div class="alert-message error">
					@loginForm.globalError.map { error =>
		                <p class="error">@error.message</p>
		            }
				</div>
			}
			
			<form id="loginForm" method="post" action="@routes.Security.authenticate()">
				<fieldset>
					<legend>Enter your credentials</legend>
					@loginForm.forField("name") { field =>
						<div class="clearfix @if(! field.errors.isEmpty) { error }">
							<label for="name">Username :</label>
							<div class="input">
								<input id="name" name="@field.name" type="text" value="@field.value" autocomplete="on" autofocus />
								@if(! field.errors.isEmpty) {
									<span class="help-inline">
										@field.errors.map(err => Messages(err.message)).mkString(",")
									</span>
								}
							</div>
						</div>
					}
					@loginForm.forField("password") { field =>
						<div class="clearfix @if(! field.errors.isEmpty) { error }">
							<label for="password">Password :</label>
							<div class="input">
								<input id="password" name="@field.name" type="password" />
								@if(! field.errors.isEmpty) {
									<span class="help-inline">
										@field.errors.map(err => Messages(err.message)).mkString(",")
									</span>
								}
							</div>
						</div>
					}
<!-- 						<div class="clearfix">
							<div class="input">
								<input id="rememberChk" name="rememberUser" type="checkbox" />
								<span>Remember me</span>
							</div>
						</div>
 -->				</fieldset>
			</form>
		</div>
		
		<div class="modal-footer">
			Not account yet ? <a href="@routes.Security.register()" class="btn small secondary" style="float: none;">Register</a>
			<!-- <a href="#"	class="btn primary" onclick="$('#loginForm').submit()">Submit</a> -->
			<button id="loginButton" class="btn primary" onclick="$('#loginForm').submit()">Submit</button>
		</div>
	</div>
	
<script type="text/javascript">
	$(function() {
		installDefaultButton($("#loginForm"), $("#loginButton"));
	});
</script>
	
}