@(loginForm: play.api.data.Form[models.User])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Login", activeNav = "login") {
	<div class="modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
		<div class="modal-header">
			<h3>Login</h3>
		</div>
		
		<div class="modal-body">
			@if(loginForm.hasGlobalErrors) {
				<div class="alert alert-error">
					@loginForm.globalError.map { error =>
						<strong>Oh no !</strong>
		            	@error.message
		            }
				</div>
			}
			
			<form id="loginForm" method="post" action="@routes.Security.authenticate()" class="form-horizontal">
				<fieldset>
					<legend>Enter your credentials</legend>
					@loginForm.forField("name") { field =>
						<div class="control-group @if(! field.errors.isEmpty) { error }">
							<label class="control-label" for="name">Username :</label>
							<div class="controls">
								<input id="name" name="@field.name" type="text" value="@field.value" autocomplete="on" autofocus />
								@if(! field.errors.isEmpty) {
									<span class="help-inline">
										@field.errors.map(err => Messages(err.message)).mkString(",")
									</span>
								}
							</div>
						</div>
					}
					@loginForm.forField("password") { field =>
						<div class="control-group @if(! field.errors.isEmpty) { error }">
							<label class="control-label" for="password">Password :</label>
							<div class="controls">
								<input id="password" name="@field.name" type="password" />
								@if(! field.errors.isEmpty) {
									<span class="help-inline">
										@field.errors.map(err => Messages(err.message)).mkString(",")
									</span>
								}
							</div>
						</div>
					}
 				</fieldset>
			</form>
		</div>
		
		<div class="modal-footer">
			Not account yet ? <a href="@routes.Security.register()" class="btn btn-small" style="float: none;">Register</a>
			<button id="loginButton" class="btn btn-primary" onclick="$('#loginForm').submit()">Submit</button>
		</div>
	</div>
	
<script type="text/javascript">
	$(function() {
		installDefaultButton($("#loginForm"), $("#loginButton"));
	});
</script>
	
}