@(form: play.api.data.Form[(models.User, String)])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Register") {
	<div class="modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
<!-- 		<div class="modal-header">
			<h3>Registration form</h3>
		</div>
 -->		
		<div class="modal-body">
			@if(form.hasGlobalErrors) {
				<div class="alert alert-error">
					@form.globalError.map { error =>
		                @error.message
		            }
				</div>
			}
			
			<form id="form" method="post" action="@routes.Security.registerSubmit()" class="form-horizontal">
				<fieldset>
					<legend>Create new user</legend>
					@helper.forms.input("text", form("name"), "Username", true)()
					
					@helper.forms.input("text", form("email"), "E-mail"){
						<div class="alert alert-info" style="font-size: 11px; margin-top: 5px; margin-bottom: 0">
						Your email will be used to lookup your picture from the <strong><a href="http://gravatar.com">gravatar.com</a></strong> site.
						If you haven't yet created an account on gravatar.com, I highly recommend you to do so (it's free) ! 
						</div>
					}

					@helper.forms.input("password", form("password"), "Password")()

					@helper.forms.input("password", form("confirm"), "Confirm password")()
				</fieldset>
			</form>
		</div>
		
		<div class="modal-footer">
			@if(form.hasErrors) {
				<span class="error">Please fix the errors before submitting</span>
			}		
			<a href="#"	class="btn btn-primary" onclick="$('#form').submit()">Register</a>
		</div>
	</div>
}