@(matchesByPhase: Map [String, Seq[Match]])(implicit request: play.api.mvc.RequestHeader)

@layout.main("Schedule / Results", activeNav = "competition") {
    
    <header class="jumbotron subhead">
    	<a name="top"></a>
    	<h1>Schedule
    		<small>Matches played and upcoming matches</small>
    	</h1>
	    <div class="subnav">
	    	<ul class="nav nav-pills">
			    @models.Phase.values.toSeq.map { phase => 
		    		<li><a href="#@phase">@Messages("phase." + phase)</a></li>
		    	}
	    	</ul>
	    </div>
    </header>
    
    <div class="row">
    @models.Phase.values.toSeq.map { phase => 
    	@println("phase = " + phase)
    	
    	<a id="@phase" name="@phase" style="position: relative; top: -60px;">&nbsp;</a>
    	<h2 class="center underline color:">@Messages("phase." + phase)
    		<a href="#top" style="float:right;"><img src="@routes.Assets.at("images/topArrow.gif")"></a>
    	</h2>

		<!--@* group matches by date so we can display matches played day by day  *@-->
		@defining(matchesByPhase(phase.toString).groupBy(zmatch => zmatch.kickoffDay)) { matchesByDate =>
			@matchesByDate.keys.toSeq.sorted.map { date =>
			
				<!-- <div class="koDate">@date.format("EEEEE', the' dd 'of' MMMMM yyyy")</div> -->
				<br/>
	
				@helper.matchesTable(matchesByDate(date))
			}
		}
    }
	</div>
	
	<script>
		installSubnavScrollSpy();
	</script>
}